        @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700,800|Roboto:300,400,500,700&display=swap');

/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html {
    scroll-behavior: smooth;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .aboutPic{
      height: 100%;
  }

  .aboutPic video{
      position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }

.help-form .modal-dialog{
    width: 80%;
}

.help-form .modal-dialog {
    width: 80%;
}

.help-form .modal-dialog .wrapper{
    padding: 40px 0
}


.help-form .modal-dialog .wrapper p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 14px;
    margin: 0px 0px 20px;
    line-height: 21px;
}

.help-form .oval-btn{
    color: #fff;
    background-color: #419a1c;
    border-color: #ccc;
    display: inline-block;
    padding: 13px 40px;
    margin: 5px 0px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.help-form .oval-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #4d4d4f;
}
/* ============================
HEADER/BANNER STYLE
============================ */

header {
    position: fixed;
    background: #fff;
    padding: 20px 0px;
    color: #333;
    border-bottom: 1px solid #ececec;
}

.logowrap {
    width: 100px;
    float: left;
    /*position: relative;
top: -11px;*/
}

.logowrap img {
    width: 100%;
}

header .navigate {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    float: right;
    margin-top: 7px;
    text-align: right;
    border: none;
    box-shadow: none;
}

#cssmenu {
    float: left;
}

#homenav {
    display: block;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
}

header li a:hover {
    background: #419a1c;
    color: #fff;
    text-decoration: none;
}

header li.logIn {
    border-left: 1px solid #ccc !important;
    margin-left: 13px !important;
}

header li.logIn a {
    font-family: 'Roboto', sans-serif;
    padding: 8px 20px;
    border-radius: 50px;
    background: #419a1c;
    color: #fff;
    margin-left: 20px !important;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

header li.logIn a:hover {
    color: #fff;
    background: #4d4d4f !important;
    text-decoration: none;
}


/* ============================
MENU STYLE
============================ */

nav {
    width: 100%;
    /*height: 50px;
position: fixed;
top: 0;
left: 0;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
padding-left: 20px;
background-color: white;*/
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    margin: 0px 8px;
    display: inline-block;
}

nav li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #666;
    display: block;
    padding: 8px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

nav li a:hover {
    color: #419a1c;
    text-decoration: none;
    background: transparent;
}

nav li a:focus {
    color: #419a1c;
    text-decoration: none;
    background: transparent;
}

.nav li a.active, .nav2 li a.active {
    text-decoration: none;
    background: #def1ce;
    color: #419a1c;
}

.nav-mobile {
    display: none;
    font-weight: bold;
    width: 100%;
}

.click-me {
    width: 150px;
    height: 30px;
    background: #435AB8;
    color: white;
    text-align: center;
    line-height: 30px;
}

.click-me a {
    display: block;
    color: white;
}

.scroll-status {
    background-color: black;
    border-top-left-radius: 4px;
    bottom: 0;
    color: white;
    display: none;
    padding: 10px;
    position: fixed;
    right: 0;
}


/* ============================
VIDEO BANNER STYLE
============================ */

#videoBanner {
    background: red;
    height: calc(100vh - 88px);
    min-height: 25rem;
    position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 88px;
}


.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  .video-background-content {
    position: relative;
    z-index: 2;
  }

  .transform-center-parent {
    position: relative;
    transform-style: preserve-3d;
}

.transform-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

#videoBanner video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#videoBanner h1 {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    margin: 0px 0px 10px;
    font-weight: 800;
    line-height: 50px;
    color: #ffffff;
}

#videoBanner span {
    display: block;
    font-size: 33px;
    margin: 0px 0px 10px;
    font-weight: 400;
    line-height: 55px;
    color: #ffffff;
    text-align: center;
}

.allmodel-wrapper button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 999;
    position: relative;
    top: 10px;
    background: #419a1c;
    opacity: 1;
    padding: 6px 8px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    left: -10px;
    text-align: center;
}

.allmodel-wrapper .close {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
}

.vidBox {
    border: 10px solid #f1f1f1;
    width: 100%;
    background: #ccc;
    min-height: 420px;
    text-align: center;
    border-radius: 20px;
    margin: 60px auto 0px;
    text-align: center;
}

.vidBox iframe {
    border-radius: 10px;
}


/*.vidBox i {
cursor: pointer;
background: #fff;
color: red;
font-size: 25px;
position: absolute;
top: 50%;
bottom: 50%;
left: 45%;
right: 50%;
margin: auto;
width: 53px;
height: 53px;
display: block;
border-radius: 50px;
padding: 14px 18px;
}*/


/* ============================
SECTION TITLE STYLE
============================ */

.sec-title {
    text-align: center;
    margin-bottom: 30px;
}

.sec-title h2 {
    font-family: 'Fira Sans', sans-serif;
    color: #666;
    font-size: 40px;
    margin: 0px 0px 20px;
    font-weight: 700;
}

.sec-title p {
    font-family: 'Fira Sans', sans-serif;
    color: #999;
    font-size: 20px;
    margin: 0px 0px 20px;
    font-weight: 500;
}

#divbar {
    display: block;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 30px 0px;
    float: left;
}

/* ============================
WHAT WE DO
============================ */

#what-we-do {
    padding: 12rem 0;
    background: #f2f2f2;
}

#what-we-do a.oval-btn{
    color: #fff;
    background-color: #419a1c;
    border-color: #ccc;
    display: inline-block;
    padding: 13px 40px;
    margin: 5px 0px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

#what-we-do a.oval-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #4d4d4f;
}
.aboutPic img {
    width: 100%;
}

.aboutDetail {
    padding: 0px 0px 0px 20px;
}


.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    .row.equal {
      display: flex;
      flex-wrap: wrap;
    }
  }

.aboutDetail p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 14px;
    margin: 0px 0px 20px;
    line-height: 21px;
}

.aboutDetail h3 {
    font-family: 'Fira Sans', sans-serif;
    color: #419a1c;
    font-size: 25px;
    margin: 40px 0px 20px;
    font-weight: 600;
}

.divseprator {
    display: block;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 30px 0px 40px;
}


/* ============================
WHO WE ARE
============================ */

#who-we-are {
    padding: 12rem 0;
    background: #ffffff;
}

#who-we-are a.oval-btn{
    color: #fff;
    background-color: #419a1c;
    border-color: #ccc;
    display: inline-block;
    padding: 13px 40px;
    margin: 5px 0px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

#who-we-are a.oval-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #4d4d4f;
}
.aboutPic img {
    width: 100%;
}

.aboutDetail {
    padding: 40px 0px 0px 20px;
}

.aboutDetail p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 14px;
    margin: 0px 0px 20px;
    line-height: 21px;
}

.aboutDetail h3 {
    font-family: 'Fira Sans', sans-serif;
    color: #419a1c;
    font-size: 25px;
    margin: 40px 0px 20px;
    font-weight: 600;
}

.divseprator {
    display: block;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 30px 0px 40px;
}
/* ============================
ABOUT STYLE
============================ */

#about-wrap {
    padding: 12rem 0;
    background: #f2f2f2;
}

#about-wrap a.oval-btn{
    color: #fff;
    background-color: #419a1c;
    border-color: #ccc;
    display: inline-block;
    padding: 13px 40px;
    margin: 5px 0px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

#about-wrap a.oval-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #4d4d4f;
}
.aboutPic img {
    width: 100%;
}

.aboutDetail {
    padding: 40px 0px 0px 20px;
}

.aboutDetail p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 14px;
    margin: 0px 0px 20px;
    line-height: 21px;
}

.aboutDetail h3 {
    font-family: 'Fira Sans', sans-serif;
    color: #419a1c;
    font-size: 25px;
    margin: 40px 0px 20px;
    font-weight: 600;
}

.divseprator {
    display: block;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 30px 0px 40px;
}


/* ============================
HOW IT WORKS STYLE
============================ */

.hiw-list {
    text-align: center;
}

.hitw {
    padding-top: 50px;
}

.hiw-list h3 {
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 0px 10px;
    line-height: 21px;
}

.hiw-list p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 0px;
    line-height: 21px;
}

.hiw-list i {
    font-size: 35px;
    margin: 20px 0px 30px;
    color: #419a1c;
}


/* ============================
GET HELP
============================ */
#getHelp{
    padding: 12rem 0 0;
    background-color: #ffffff;
}

#getHelp h3 {
    font-family: 'Fira Sans', sans-serif;
    color: #419a1c;
    font-size: 32px;
    margin: 0px 0px 5px;
    text-align: center;
}

#getHelp p{
font-family: 'Roboto', sans-serif;
color: #666666;
font-size: 14px;
margin: 50px 0px 20px;
line-height: 21px;
text-align: center;
}


#getHelp a.oval-btn {
    color: #fff;
    background-color: #419a1c;
    border-color: #ccc;
    display: inline-block;
    padding: 13px 40px;
    margin: 20px 0px 0px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
    width: 100%;
}

#getHelp a.oval-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #4d4d4f;
}

#getHelp .wrapper{
    text-align: center;
    float: left;
    width: 100%;
    margin: 0 60px;
}

#getHelp .wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* ============================
GET HELP
============================ */

#news{
    padding: 12rem 0 ;
    background-color: #f2f2f2;
}

#news p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 14px;
    margin: 0px 0px 0px;
    line-height: 21px;
    text-align: left;
}

#news span{
    margin: 5px 0 10px;
    float: left;
    width: 100%;
    font-style: italic;
    color: #666666;
    font-size: 14px;
}

#news .blog-image{
    width: 100%;
    height: 250px;
    background-color: aliceblue;
    position: relative;
    float: left;
}

#news .blog-image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* ============================
POST PAGE
============================ */
#post{
    padding:12rem 0;

}

#post h1{
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 33px;
    margin: 0px 0px 30px;
    font-weight: 300;
}

#post .data span{
    margin: 5px 0 10px;
    float: left;
    width: 100%;
    font-style: italic;
    color: #666666;
    font-size: 14px;
}

#post .blog-image{
    width: 100%;
    height: 400px;
    background-color: aliceblue;
    position: relative;
    float: left;
    margin: 20px 0 30px;
    object-fit: cover;
}

#post .blog-image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#post p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-size: 14px;
    margin: 0px 0px 0px;
    line-height: 21px;
    text-align: left;
}

#post .recent-post{
    margin-bottom: 60px;
}

#post .recent-post ul{
    list-style: none;
    padding: 0;
}

#post .recent-post ul li{
    margin: 30px 0;
}



#post .recent-post .blog-image{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    position: relative;
    float: left;
    margin: 0;
}

#post .recent-post h5{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #666;
    font-weight: 300;
}

#post .recent-post .right{
    padding-left: 0;
}

#post .recent-post span{
    margin: 5px 0 0px;
}

#post .recent-post .widget-title{
    font-family: 'Fira Sans', sans-serif;
    color: #666;
    margin: 0px 0px 20px;
    font-weight: 300;
}










#post .post-archive ul{
    list-style: none;
    padding: 0;
}

#post .post-archive ul li{
    margin: 10px 0;
}

#post .post-archive .blog-image{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    position: relative;
    float: left;
    margin: 0;
}

#post .post-archive h5{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #666;
    font-weight: 300;
}

#post .post-archive .right{
    padding-left: 0;
}

#post .post-archive span{
    margin: 5px 0 0px;
}

#post .post-archive .widget-title{
    font-family: 'Fira Sans', sans-serif;
    color: #666;
    margin: 0px 0px 20px;
    font-weight: 300;
}

#post .post-archive ul li a{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-weight: 300;
}

#post #sidebar{
    margin: 0 30px
}

/* ============================
RESOURCES
============================ */
#resources{
    padding:12rem 0;
}

#resources ul{
    list-style: none;
    padding: 0
}

#resources ul li{
    padding: 10px 0;
    border-bottom: solid 1px #f2f2f2;
}

#resources ul li a{
    display: block;
    width: 100%;
    color: #419a1c;
}

#resources ul li span{
    display: block;
    width: 100%;
}

#resources h1{
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 33px;
    margin: 0px 0px 30px;
    font-weight: 300;
}

/* ============================
OUR TEAM STYLE
============================ */

#ourTeam {
    padding: 12rem 0;
}

.cld-serv {
    background: #f2f2f2;
    padding: 30px 30px 10px;
    border-radius: 7px;
    min-height: 362px;
    margin: 30px 0px 10px
}


/*.cld-serv h3{
font-family: 'Roboto', sans-serif;
color: #d33043;
font-size: 18px;
font-weight: 700;
margin: 0px 0px 20px;
}*/

.teamLists {
    border-radius: 12px;
    width: 100%;
    float: left;
    text-align: center;
    padding: 75px 30px 20px;
    min-height: 420px;
    margin: 50px 0px 20px;
    background: #f2f2f2;
    position: relative;
}

.teamLists h4 {
    font-family: 'Fira Sans', sans-serif;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0px 15px;
}

.teamLists h4 span {
    line-height: 28px;
    font-weight: 400;
    color: #666;
    font-size: 18px;
    display: block;
}

.teamLists p {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 15px;
}

span.team-mail {
    display: block;
    margin-top: 2px;
}

.teamLists .team-pict {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -50px;
    border: 1px solid #fff;
    box-shadow: 0px 5px 4px #ccc;
}

p.teamDetails {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    height: 98px;
    margin: 0px;
    overflow: hidden;
}

.teamLists p a {
    color: #419a1c;
    text-transform: uppercase;
    font-weight: 400;
}

.teamLists p a:hover {
    color: #4d4d4f;
    text-decoration: none;
}

.team-pict img {
    width: 100%;
    border-radius: 50%;
    border-radius: 10px 0px 0px 10px;
}

.team-btn {
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    background: #419a1c;
    width: 100px;
    margin: 0px 10px;
    display: inline-block;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.team-btn:hover {
    background: #4d4d4f;
    color: #fff;
    text-decoration: none;
}

#sucessAlert .team-btn {
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background: #419a1c;
    width: 150px;
    margin: 0px 10px;
    display: inline-block;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

#sucessAlert .teamLists {
    min-height: auto;
}

#sucessAlert p.teamDetails {
	height: auto;
	margin:0px 0px 33px;
}


/* ============================
FAQ's STYLE
============================ */

#faqS {
    padding: 12rem 0;
    background: #f2f2f2;
}

#faqsData {
    margin-top: 40px;
    width: 100%;
    padding: 10px;
}

.askBtn {
    font-family: 'Roboto', sans-serif;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    background: #419a1c;
    margin: 20px auto 0px;
    border: none;
    display: inline-block;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.askBtn:hover {
    background: #4d4d4f;
    color: #fff;
    text-decoration: none;
}

#faqsData .panel {
    background: transparent;
}

#faqsData .panel-body {
    padding: 25px 25px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border: none !important;
}

.panel-heading {
    padding: 0px;
}

.collapse.in .panel-body {
    background: #f2f2f2 !important;
}

.panel-title {
    cursor: pointer;
    display: block;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 25px;
}

.panel-group .panel+.panel {
    margin-top: 10px;
}


/* ============================
JOIN OUR TEAM
============================ */

#joinUS {
    padding: 12rem 0;
}

#joinUS .sec-title span {
    display: block;
}

.team-feature {
    margin: 30px 0px 20px;
    text-align: left;
}

.team-feature h3 {
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-weight: 600;
    font-size: 17px;
    margin: 0px 0px 10px;
    line-height: 21px;
}

.team-feature p {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 0px;
    line-height: 21px;
}

.team-feat-ico {
    float: left;
    margin: 15px 18px 0px 0px;
}

.team-feat-ico i {
    font-size: 35px;
    margin: 20px 0px 30px;
    color: #419a1c;
}

.leadForm {
    padding: 20px 10%;
}

.leadForm textarea.form-control {
    height: 100px !important;
    border-radius: 20px !important;
}

.leadForm .form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    border-radius: 50px;
    box-shadow: none;
}

.fieldone:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #c4c4c4;
    content: "\f007";
    position: absolute;
    top: 12px;
    right: 45px;
}

.fieldtwo:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #c4c4c4;
    content: "\f007";
    position: absolute;
    top: 12px;
    right: 45px;
}

.fieldthree:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #c4c4c4;
    content: "\f0e0";
    position: absolute;
    top: 12px;
    right: 45px;
}

.fieldfour:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #c4c4c4;
    content: "\f095";
    position: absolute;
    top: 12px;
    right: 45px;
}

.fieldfive:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #c4c4c4;
    content: "\f2c2";
    position: absolute;
    top: 12px;
    right: 45px;
}

.btnsubmit {
    color: #fff;
    background-color: #419a1c;
    border-color: #ccc;
    width: 100%;
    padding: 13px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.btnsubmit:hover {
    color: #fff;
    background-color: #4d4d4f;
}


/*AGENTS SECTION*/

.agentBox {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 70px;
    padding-bottom: 70px;
}

.agentBox h3 {
    font-family: 'Fira Sans', sans-serif;
    color: #666;
    font-size: 40px;
    margin: 0px 0px 20px;
    font-weight: 700;
}

.agentBox p {
    font-family: 'Fira Sans', sans-serif;
    color: #999;
    font-size: 20px;
    margin: 0px 0px 20px;
    font-weight: 500;
}

.agentBox a {
    color: #fff;
    background-color: #419a1c;
    border-color: #ccc;
    display: inline-block;
    padding: 13px 40px;
    margin: 40px 0px 0px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.agentBox a:hover,
.agentBox a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #4d4d4f;
}

#agentModel iframe {
    min-height: 490px;
}


/* ============================
CONTACT FORM
============================ */

.form-details {
    font-family: 'Roboto', sans-serif;
    background: url(../images/contact-bg.jpg);
    background-size: cover;
    padding: 80px 60px 60px;
    text-align: left;
    border-radius: 5px 0px 0px 5px;
}

.contact-wrapper {
    padding: 0px;
}

.form-details .formlogo {
    width: auto;
}

.form-details .formlogo img {
    width: 100%;
}

.form-details ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px auto;
}

.form-details ul li {
    font-weight: 400;
    line-height: 25px;
    color: #666;
    list-style: none;
    margin-bottom: 30px;
    font-size: 14px;
}

.form-details ul li span {
    font-size: 12px;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
}

.form-pannel {
    width: 85%;
    text-align: left;
    margin: auto;
    padding: 80px 20px 0px;
}

.contactFrom {
    margin: 30px 0px 20px;
}

.form-pannel h2 {
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    margin: 0px 0px 25px;
    font-weight: 800;
    line-height: 35px;
    color: #666;
}

.form-pannel p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px 0px 10px;
    line-height: 22px;
    color: #999;
}

.contactFrom .form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    border-radius: 50px;
    box-shadow: none;
}

.contactFrom textarea.form-control {
    height: 100px !important;
    border-radius: 20px !important;
}


/* ============================
FOOTER AND CAPTION
============================ */

footer {
    background: #ffffff;
    padding: 8rem 0px 9rem;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer .social a{
    display: inline-block;
    padding: 20px;
    background: #fff;
    font-size: 20px;
    color: #419a1c;
}

.footerLogo {
    width: 200px;
    margin: 0px auto 31px;
    display: block;
}

.foote-details p {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 5px 0px 15px;
}

.foote-details a {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 5px 0px 15px;
}

.foote-details a:hover {
    color: #419a1c;
    text-decoration: none;
}

.foote-details span {
    margin: 0px 20px;
    color: #999;
}

.captionlinks {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0px;
    text-align: right;
}

.captionlinks a {
    border-radius: 30px;
    font-size: 14px;
    color: #777;
    margin: 0px 0px;
    padding: 10px 20px;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.captionlinks a:hover {
    border-radius: 30px;
    background: #419a1c;
    color: #fff;
    text-decoration: none;
}

.subscrbe {
    float: left;
}

.subscrbe .subscrbe-container {
    float: left;
}

.subscrbe input {
    padding: 12px 30px;
    margin-top: 8px;
    font-size: 14px;
    color: #333;
    border-radius: 70px 0px 0px 70px;
    border: solid 1px #419a1c;
}

.subscrbe input:focus {
    outline: none;
}

.subscrbe .subscrbe-container button {
    float: right;
    padding: 12px 30px;
    margin-top: 8px;
    margin-right: 15px;
    background: #419a1c;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 0px 70px 70px 0px;
    text-transform: uppercase;
    border: 1px solid #419a1c;
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    transition: background-color 0.8s ease-out;
}

.subscrbe .subscrbe-container button:hover {
    background: #4d4d4f;
}

div#topcontrol {
    bottom: 50px !important;
    right: 45px !important;
}

div#topcontrol img {
    width: 80%;
}


/*FOOTER CAPTION*/

.foote-caption {
    padding: 20px 5%;
    text-align: center;
}

.foote-caption span {
    margin: 0px 20px;
    color: #999;
}

.foote-caption {
    line-height: 25px;
    color: #888;
    margin: 0px 0px;
}

@media screen and (max-width: 600px) {
    .subscrbe .subscrbe-container {
        float: none;
    }
    .subscrbe input {
        text-align: center;
        width: 100%;
        border-radius: 30px;
    }
    .subscrbe a,
    .subscrbe input,
    .subscrbe .subscrbe-container button {
        float: none;
        display: block;
        text-align: center;
        margin: 0;
        padding: 14px;
        width: 100%;
        border-radius: 30px;
        margin: 15px 0px 0px;
    }
    .subscrbe input[type=text] {
        border: none;
    }
}


/* ============================
RESPONSIVE STYLE
============================ */

@media only screen and (max-width: 768px) {

    .help-form .modal-dialog{
        width: 100% !important;
         margin: auto !important;
    }
    #getHelp .wrapper{
        margin: 0 !important
    }
    /* ----------------
LOGO STYLE
---------------- */
    .logowrap {
        text-align: left;
        width: 150px;
    }
    .logowrap img {
        width: 65%;
        margin: auto;
    }
    header {
        padding: 11px 0px;
    }
    header .navigate {
        font-size: 14px;
        margin: 0px 0px 0px;
        float: left;
        width: 100%;
        top: -5px;
        position: relative;
        margin-bottom: -43px;
    }
    header li a:hover {
        background: none;
        color: #419a1c;
    }
    header .userlog ul {
        padding: 0px;
        margin: 0px;
        border-left: none;
        float: left;
    }
    header .userlog {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        float: right;
        margin-left: 0;
        position: absolute;
        right: 0;
        top: 6px;
    }
    header .userlog li a {
        font-family: 'Roboto', sans-serif;
        padding: 7px 30px;
        font-size: 13px;
        font-weight: 400;
    }
    header li.logIn a {
        font-family: 'Roboto', sans-serif;
        border-radius: 50px;
        background: #419a1c;
        color: #fff;
        margin: 10px 0px !important;
    }
    header li.logIn a:active {
        color: #419a1c !important;
    }
    header li.logIn {
        border-left: none !important;
        margin: 0 !important;
    }
    /* ----------------
MENU STYLE
---------------- */
    nav ul {
        display: none;
        margin-left: 0px;
        position: relative;
        top: -28px;
        border-top: 1px solid #eee;
    }
    nav li {
        width: 100%;
        margin-left: 0px;
    }
    nav li a {
        padding: 10px;
        text-align: center;
    }
    .nav-mobile {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 23px;
        position: relative;
        top: -40px;
        right: 9px;
    }
    /* ----------------
VIDEO STYLE
---------------- */
    .vidBox {
        border: 10px solid #f1f1f1;
        width: 100%;
        background: #ccc;
        min-height: auto;
    }
    #videoBanner h1 {
        font-size: 28px;
        margin: 0px 0px 10px;
        font-weight: 800;
        line-height: 38px
    }
    #videoBanner h1 span {
        display: block;
        font-size: 20px;
        margin: 12px 0px 10px;
        font-weight: 400;
        line-height: 25px;
    }
    /* ----------------
ABOUT STYLE
---------------- */
    .sec-title h2 {
        font-family: 'Fira Sans', sans-serif;
        color: #666;
        font-size: 25px;
        margin: 0px 0px 20px;
        font-weight: 700;
        line-height: 38px;
    }
    /* ----------------
FAQs STYLE
---------------- */
    .panel-title {
        line-height: 23px;
    }
    /* ----------------
TEAM STYLE
---------------- */
    .team-feat-ico {
        float: none;
        text-align: center;
        margin: 15px 18px 0px;
    }
    .team-feat-ico i {
        font-size: 35px;
        margin: 20px 0px 15px;
        color: #419a1c;
    }
    .team-feature {
        margin: 0px 0px 20px;
        text-align: center;
    }
    /* ----------------
JOIN NOW FORM STYLE
---------------- */
    .leadForm {
        padding: 20px 4%;
    }
    /* ----------------
CONTACT STYLE
---------------- */
    .form-details {
        padding: 30px 40px 10px;
    }
    .form-details .formlogo {
        width: 60%;
        text-align: center;
        margin: auto;
    }
    .form-pannel {
        padding: 50px 0px 0px;
    }
    .form-pannel h2 {
        text-align: center;
        font-size: 25px;
    }
    .form-pannel p {
        text-align: center;
    }
    .form-details ul li {
        text-align: center;
        margin-bottom: 23px;
    }
    /* ----------------
FOOTER STYLE
---------------- */
    .foote-details span {
        margin: 0px 7px;
        color: #999;
    }
    .subscrbe {
        float: left;
        width: 90%;
        margin: 0px 6% 30px;
        text-align: center;
    }
    .captionlinks {
        text-align: left;
    }
    .captionlinks a {
        float: left;
        display: block;
        width: 100%;
        text-align: center;
        line-height: 25px;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 30px 10px 10px;
    }
    .modal-lg {
        margin: 30px 10px 0px;
    }
    .foote-caption span {
        margin: 0px 10px;
    }
    #agentModel iframe {
        min-height: 280px;
    }
}

@media (min-width: 769px) {
    nav ul {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto 0px;
    }
    .modal-lg {
        width: 900px;
        margin: 30px auto 0px;
        .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #f5f5f5;
            text-shadow: 0 1px 0 #000;
            filter: alpha(opacity=20);
            opacity: .2;
        }

